@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
	font-family: InterVariable, sans-serif;
	/* prettier-ignore */
	font-feature-settings:
		"calt", /* Contextual alternatives */
		"cv05", /* Lowercase L with tail */
		"cv10", /* Capital G with spur */
		"cv11", /* Single-story a */
		"liga", /* Standard ligatures */
		"ss01", /* Open digits */
		"ss07"; /* Square punctuation */
}

@theme inline {
	--font-mono: var(--font-geist-mono);
	--font-pixel: var(--font-geist-pixel-circle);
}

@layer base {
	* {
		border-color: --alpha(var(--color-neutral-500) / 20%);
	}

	button {
		cursor: pointer;

		&:disabled {
			pointer-events: none;
			cursor: not-allowed;
			opacity: 50%;
		}
	}
}

@layer components {
	button:not(.base) {
		@apply text-sm;

		font-family: var(--font-mono);
		font-weight: 500;
		text-transform: uppercase;
		padding: --spacing(1.5) --spacing(6);

		&:hover {
			opacity: 85%;
		}

		&[data-variant="primary"] {
			background-color: var(--color-neutral-50);
			color: var(--color-neutral-950);
		}

		&[data-variant="outline"] {
			background-color: var(--color-neutral-900);
			color: var(--color-neutral-50);
			outline: 1px solid var(--color-neutral-700);
		}
	}

	input {
		@apply text-sm;

		background-color: var(--color-neutral-900);
		border: 1px solid var(--color-neutral-700);
		color: var(--color-neutral-50);
		padding: --spacing(2) --spacing(3);
		outline: none;

		&:focus-visible {
			border-color: var(--color-neutral-500);
		}
	}

	[data-dialog-overlay] {
		position: fixed;
		inset: 0;
		z-index: 50;
		background-color: rgb(0 0 0 / 0.5);
		backdrop-filter: blur(8px);
	}

	[data-dialog-content] {
		@apply space-y-4;

		position: fixed;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		z-index: 50;
		width: 100%;
		max-width: var(--container-3xl);
		background-color: var(--color-neutral-950);
		padding: --spacing(6);
		border-width: 1px;
		border-style: solid;
	}
}
